<script setup lang="ts">
import OneByOne from './components/OneByOne.vue'
import Gallery from './components/Gallery.vue'
import { ref } from "vue";
import { postImage } from './http-api';

const gallery = ref(true);
const file = ref<File>();
function handleFileUpload(event: any) {
  file.value = event.target.files[0];
}

function submitFile() {
  if (file.value) { postImage(file.value); }
}

</script>

<template>
  <h1>{{ "Image Gallery" }}</h1>
  <div class="selectionButtons">
    <button @click="gallery = true">Gallery</button>
    <button @click="gallery = false">One By One</button>
  </div>

  <div class="fileUpload">
    <label>File
      <input type="file" id="file" @change="handleFileUpload($event)" />
    </label>
    <button @click="submitFile()">Submit</button>
  </div>

  <Gallery v-if="gallery" />
  <OneByOne v-else />
</template>

<style scoped>
.selectionButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin-bottom: 2em;
}

.fileUpload {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
}
</style>
