<script setup lang="ts">
import { ref } from "vue";
import { downloadImageById, getImagesInfo } from "../http-api";

const images = ref<Array<string>>([]);

getImagesInfo().then((data) => {
  var imagesPromise = data.map(async (image) => await downloadImageById(image.id));
  Promise.all(imagesPromise).then((data) => {
    images.value = data;
  })
});

</script>

<template>
  <button type="reset">Refresh Images</button>
  <div v-for="image in images">
    <img :src="image" />
  </div>
</template>

<style scoped>
img {
  max-width: 40%;
}
</style>
