<script setup lang="ts">
import { ref } from "vue";
import { downloadImageById, getImagesInfo } from "../http-api";

const images = ref<Array<{ name: string, id: number }>>([]);
const selectedImageId = ref<number>(0);

getImagesInfo().then((data) => {
  images.value = data;
});

async function downloadSelectedImage() {
  var imageEl = document.querySelector("img");
  if (!imageEl) { return; }
  var src = await downloadImageById(selectedImageId.value);
  imageEl.setAttribute("src", src);
}

function UnShow() {
  document.querySelector("img")?.setAttribute("src", "");
}

</script>

<template>
  <div class="imageSelection">
    <label for="image_select">Choose an image: <br /></label>
    <select v-model="selectedImageId">
      <option v-for="image in images" :value="image.id">{{ image.name }}</option>
    </select>
  </div>

  <div class="selectionButtons">
    <button @click="downloadSelectedImage">Show</button>
    <button @click="UnShow">Clear</button>
  </div>

  <img />
</template>

<style scoped>
.imageSelection {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

.selectionButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin-bottom: 2em;
}

img {
  max-width: 40%;
}
</style>
